<h1>Update Product</h1>
<%= form_with model: @product_to_update do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: 'edit_product_form', onchange: "nameChangeHandler(event)" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
    <%= link_to "back to listing", products_path %>
<% end %>

<script>
function nameChangeHandler(event) {
        const newValue = event.target.value;
        console.log("Name changed to:", newValue);
        // Add additional logic here
    }
</script>